@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

@font-face {
    font-family: "cc";
    src: url("/font/cc.otf");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

/* preloader */
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

/* navbar */
nav {
    margin-bottom: 800px;
    background-color: rgb(228, 233, 247);
    height: 80px;
    z-index: 3;
}
nav .alias {
    font-size: 20px;
    color: rgb(87, 108, 163);
}
nav .nama {
    color: rgb(119, 132, 165);
}

/* footer */
footer {
    background-color: rgb(228, 233, 247);
    height: 30px;
    font-size: 13px;
}
.footer-area {
    padding-top: 6px;
}

.footer-area img {
    width: 16px;
}

/* jarak */
.jarak-atas {
    margin-bottom: 100px;
}
.jarak-bawah {
    margin-top: 60px;
}

/* loading */
.loading img {
    width: 40px;
}

/* card umum*/
.card {
    background-color: rgb(237, 241, 250);
    color: rgb(87, 108, 163);
    box-shadow: 0px 5px 15px rgb(164, 181, 226);
}
.card a {
    color: rgb(87, 108, 163);
}

/* card pada komponen menu */
.card-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    z-index: 2;
}
.card-menu .card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.card-menu .card-body img {
    margin-bottom: 5px;
}
.card-menu .active {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.card-menu a {
    text-decoration: none;
}

/* komponen produk */
.card-produk .item {
    display: flex;
    flex-wrap: wrap;
}
.card-produk .item a {
    margin-left: 15px;
    text-align: center;
    line-height: 50px;
    color: rgb(87, 108, 163);
}
.card-produk .item .active {
    background-color: rgba(0, 0, 0, 0.03);
    border: solid 1px rgb(87, 108, 163);
    padding: 0 4px;
    font-weight: bold;
    font-style: italic;
    border-radius: 10%;
}

/* gambar di card produk dan card transaksi */
.card-produk .item img,
.card-transaksi img {
    width: 20px;
}

/* card transaksi pada komponen produk */
.card-cara-bertransaksi ul li {
    list-style: square;
}
.card-cara-bertransaksi .second li {
    list-style: circle;
}
.card-transaksi select {
    border: solid 1px rgb(87, 108, 163);
    height: 50px;
}
.btn-me {
    border: solid 1px rgb(87, 108, 163);
    width: 200px;
    height: 50px;
    background-color: rgb(87, 108, 163);
    color: white;
}

.btn-me:hover {
    color: white;
    background-color: rgb(41, 67, 135);
}
.btn-me svg {
    width: 24px;
    height: 24px;
}

/* card checkout pada komponen produk */
#card-checkout .card-body {
    font-size: 14px;
}
.card-checkout a {
    font-size: 14px;
    border: solid 1px rgb(87, 108, 163);
    background-color: rgb(87, 108, 163);
    color: white;
}
.card-checkout a:hover {
    background-color: rgb(41, 67, 135);
    color: white;
}
.card-checkout label {
    margin-bottom: 6px;
}
#card-checkout .no_rek,
#card-checkout .harga {
    font-size: 18px;
}
.card-checkout .info-pembayaran {
    border: solid 1px rgb(100, 110, 136);
    padding: 8px;
    border-radius: 8px;
}
.info-pembayaran input {
    border: none;
    background: none;
    font-weight: bold;
    color: rgb(87, 108, 163);
}
.info-pembayaran input:focus {
    outline: none;
}
.salin button {
    border: solid 1px rgb(207, 146, 2);
    color: rgb(207, 146, 2);
    font-weight: bold;
    border-radius: 8px;
    padding: 3px 5px;
}

/* ketika diklik salin */
.copied {
    content: "Berhasil dicopy";
    position: absolute;
    right: 280px;
    top: 240px;
    background-color: rgb(41, 67, 135);
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 12px;
    color: rgb(207, 146, 2);
    display: none;
}

/* ================================================================================================ */
/* seukuran hp */
@media only screen and (max-width: 768px) {
    /* naavbar */
    nav {
        height: 60px;
    }
    nav img {
        width: 30px;
    }
    nav .medsos img {
        width: 25px;
    }
    nav .alias {
        font-size: 12px;
    }
    nav .nama {
        font-size: 10px;
    }

    /* footer */
    footer {
        font-size: 10px;
    }
    .footer-area {
        padding-top: 10px;
    }
    .footer-area img {
        width: 14px;
    }

    /* jarak */
    .jarak-atas {
        margin-bottom: 70px;
    }
    .jarak-bawah {
        margin-top: 45px;
    }

    /* loading */
    .loading img {
        width: 30px;
    }

    /* card umum*/
    .card .card-header {
        font-size: 10px;
    }
    .card .card-body {
        font-size: 9px;
    }

    /* card pada komponen menu */
    .card-menu {
        top: 60px;
    }
    .card-menu .card-body img {
        width: 20px;
    }

    /* card pada komponen produk */
    .card-produk .item a {
        line-height: 30px;
    }
    /* gambar di card produk dan card transaksi */
    .card-produk .item img,
    .card-transaksi img {
        width: 12px;
    }

    /* card transaksi pada komponen produk */
    .btn-me {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    .btn-me svg {
        width: 15px;
        height: 15px;
    }

    .card-transaksi select {
        height: 40px;
        font-size: 9px;
    }
    /* card checkout pada komponen produk */
    #card-checkout .card-body {
        font-size: 10px;
    }
    #card-checkout a {
        font-size: 10px;
    }
    #card-checkout .card-body table {
        font-size: 9px;
    }
    #card-checkout .no_rek,
    #card-checkout .harga {
        font-size: 13px;
    }
    /* untuk logo bank */
    .card-checkout .logo-bank img {
        width: 30px;
    }
    /* untuk img qrcode */
    .card-checkout .qrcode img {
        width: 200px;
    }

    /* ketika tombol salin diklik */
    .copied {
        content: "Berhasil dicopy";
        position: absolute;
        right: 5px;
        top: 205px;
        background-color: rgb(41, 67, 135);
        padding: 5px 8px;
        border-radius: 8px;
        font-size: 9px;
    }
}
